
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiIconButton-root {
  padding: 0 !important;
}

.MuiAppBar-colorPrimary {
  background-color: #1f6d93 !important;
}

.MuiTab-root {
  text-transform: none !important;
}

.MuiCardHeader-root {
  color: #fff !important;
  background-color: #1f6d93 !important;
}


.MuiTableCell-root {
  padding: 5px 15px 5px 15px !important;
}

.MuiTableCell-root > img {
  margin-bottom: -8px;
  margin-right: 10px;
  width: auto;
}

.score_field{
  text-align: right;
  width: 35px;
  background-color: #d9edf7;
}

.points_td {
  font-weight: bold !important;
}

.tree_team {
  min-width: 100px !important;
  height: 20px !important;
}

.tree_dist1{
  height: 25px !important;
}

.tree_dist2{
  height: 30px !important;
}

.tree_vert_dist{
  width: 40px !important;
}

.tree_table {
  margin: 0 !important;
}

.MuiButton-root {
  background-color: #d9edf7 !important;
  margin: 10px !important;
}

.groupClicker:hover {
  cursor: pointer;
  background-color: #d9f7f0 !important;
  color: black !important;
  font-weight: bold !important;
}

.winner {
  font-weight: bold !important;
  color: #1f6d93 !important;
}

.teamClicker:hover,
.playerClicker:hover {
  cursor: pointer;
  background-color: #d9f7f0 !important;
  color: #000000 !important;
}

.playerClicker:hover,
.playerClicker:hover > td,
.teamClicker:hover,
.teamClicker:hover > td {
  font-weight: bold !important;
}

.reorder_tab {
  cursor: pointer;
}
