body{
    background-color: #ddd;
}

.container {
    position: relative;
}
.crop {
    position: absolute;
    transition: all 0.25s;
    cursor: move;
}

.crop .crop-line {
    position: absolute;
    /*transition: all 0.25s;*/
}
.crop:hover .crop-line {
    border-color: rgba(204,31,48,1);
}
.crop .crop-bottom-line-inner {
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    margin-right: 20px;
}
.crop .crop-bottom-line {
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    margin-right: 10px;
}
.crop .crop-right-line-inner {
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    margin-bottom: 20px;
}
.crop .crop-right-line {
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    margin-bottom: 10px;
}
.crop .crop-corner {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    border: 1px solid #808080;
    background: #FFF;
    opacity: 0;
    transition: all 0.25s;
}
.crop .crop-bottom-right-corner {
    bottom: 7px;
    right: 7px;
}
.crop-bottom-right-corner-outer {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: se-resize;
    zIndex: 20;
}
.crop:hover .crop-corner {
    opacity: 1;
}